set_io io_clk 60
set_io -pullup yes io_nReset 9

set_io io_led 55

set_io -nowarn io_ili9320_dout[0] 12
set_io -nowarn io_ili9320_dout[1] 11
set_io -nowarn io_ili9320_dout[2] 38
set_io -nowarn io_ili9320_dout[3] 37
set_io -nowarn io_ili9320_dout[4] 32
set_io -nowarn io_ili9320_dout[5] 31
set_io -nowarn io_ili9320_dout[6] 18
set_io -nowarn io_ili9320_dout[7] 17
set_io -nowarn io_ili9320_nReset 34
set_io -nowarn io_ili9320_cs 33
set_io -nowarn io_ili9320_cmdData  29
set_io -nowarn io_ili9320_writeEdge 28

set_io io_leds[0] 141
set_io io_leds[1] 142
set_io io_leds[2] 138
set_io io_leds[3] 139
set_io io_leds[4] 136
set_io io_leds[5] 137
set_io io_leds[6] 134
set_io io_leds[7] 135

set_io io_buttonSelect[0] 3
set_io io_buttonSelect[1] 4

set_io io_button[0] 1
set_io io_button[1] 2
set_io io_button[2] 7
set_io io_button[3] 8

